<div class="container">

    <div>
        <h4>Admin Article page</h4>
    </div>
    <div class="row">
        <div class="col s6 m5">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <form name="articleForm">
                        <h6>Description</h6>
                        <input ng-model="article.description" type="text" placeholder="Description" required=""/>

                        <h6>Title</h6>
                        <input ng-model="article.title" type="text" placeholder="Text" required=""/>


                        <h6>Category</h6>
                        <label class="black-text">
                            <select style="display: block"  required=""
                                    ng-model="eList"
                                    ng-options="eList for eList in imgData.enumList">
                                <option value="" disabled="">Select Category</option>
                            </select>
                        </label>

                        <h6>Image</h6>
                        <label class="black-text">
                            <select style="display: block"  required=""
                                    ng-model="imgList"
                                    ng-options="imgList for imgList in imgData.nameImg">
                                <option value="" disabled="">Select Image</option>
                            </select>
                        </label>

                        <p></p>
                        <h6>Article</h6>
                        <p></p>
                        <button ng-click="save(article, eList, imgList, articleForm)" class="waves-effect waves-light btn">Create
                            Article
                        </button>
                    </form>
                </div>
            </div>

            <div class="col s6 m6">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://materializecss.com/images/sample-1.jpg" class="photo"/>
                        <span class="card-title">La al la</span>
                    </div>
                    <div class="card-content">
                        <p>La la la</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>