<div class="container">

    <div >
        <h4>Article page</h4>
    </div>


        <div class="row">

            <div class="col s12 m12 l4" ng-repeat="artJSE in articleJavaSE">
                <div class="card small hoverable" >
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" data-ng-src="{{'data:image/png;base64,'+artJSE.image.img}}"/>
                    </div>
                    <div class="card-content">
                        <span style="font-size: 12pt" class="card-title activator grey-text text-darken-4"><strong>{{artJSE.title}}</strong><i class="material-icons right">more_vert</i></span>
                        <!--<p><a href="#/articleView/{{artJSE.category}}/{{artJSE.id}}">Read</a></p>-->
                        <p><a class="btn" href="#/articleView"  ng-click="getArticleView(artJSE.category, artJSE.id)">Read</a></p>
                    </div>
                    <div class="card-reveal">
                        <span style="font-size: 12pt" class="card-title grey-text text-darken-4"><strong>{{artJSE.title}}</strong><i class="material-icons right">close</i></span>
                        <p>{{artJSE.description}}</p>
                    </div>
                </div>
            </div>



            <div class="col s12 m12 l12 center-align">
                <ul class="pagination">
                    <li class="disabled"><a href="#!"><i class="material-icons"></i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons"></i></a></li>
                </ul>
            </div>
        </div>

</div>